@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

:root  {
  --background: 0 0% 100%;
  --foreground: 266 5% 10%;
  --card: 266 50% 90%;
  --card-foreground: 266 5% 15%;
  --popover: 266 80% 95%;
  --popover-foreground: 266 95% 10%;
  --primary: 266 42.9% 32.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 266 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 228 30% 85%;
  --muted-foreground: 266 5% 40%;
  --accent: 228 30% 80%;
  --accent-foreground: 266 5% 15%;
  --destructive: 0 80% 41%;
  --destructive-foreground: 266 5% 90%;
  --border: 266 30% 50%;
  --input: 266 30% 41%;
  --ring: 266 42.9% 32.9%;
  --radius: 0.75rem;
}
.dark  {
  --background: 0 0% 100%;
  --foreground: 266 5% 10%;
  --card: 266 50% 90%;
  --card-foreground: 266 5% 15%;
  --popover: 266 80% 95%;
  --popover-foreground: 266 95% 10%;
  --primary: 266 42.9% 32.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 266 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 228 30% 85%;
  --muted-foreground: 266 5% 40%;
  --accent: 228 30% 80%;
  --accent-foreground: 266 5% 15%;
  --destructive: 0 80% 41%;
  --destructive-foreground: 266 5% 90%;
  --border: 266 30% 50%;
  --input: 266 30% 41%;
  --ring: 266 42.9% 32.9%;
  --radius: 0.75rem;
}
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
